body {
    text-align: center;
}

.header {
  margin: 16px;
}

#textbook h2 {
  cursor: pointer;
  font-size: 24px;
}

#textbook a:hover {
  text-decoration: none;
}

.textbook_container {
    /*border: 1px solid #d4d4d4;*/
    background-color: #fff;
    margin: 2em;
    /*font-family: georgia, serif;*/
}
.textbook_container header {
    margin: 4em 0 4em 0;
}
.textbook_container canvas {
	width: 90%;
    background-color: #ffffff;
}

.textbook_container .image img,
.textbook_container .pdfRectangle {
    max-width: 90%;
}

.wikipedia, .text {
    text-align: left;
    margin-left: 5%; margin-right: 5%;
    margin-top: 2em; margin-bottom: 2em;
    padding: 5%;
    padding-right: 200px;
    width: 80%;
    border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
}

.wikipedia {
    text-align: left;
    background-image: url("../img/WikiElementBG.png");
    background-position: right top;
    background-repeat: no-repeat;
}

#wikiPreview {
  text-align: left;
}

.comment {
    text-align: left;
    margin-left: 5%;
	margin-right: 5%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 2%;
	width: 86%;
	background-color: #FFFFE4;
	border: 1px solid #d4d4d4;
}

.comment .author {
	font-weight: bold;
	border-bottom: 1px solid #d4d4d4;
}

.buttons {
	overflow: hidden;
	width: 100%;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Fluid width youtube videos */
.textbook_container .youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 90%;
	margin-left: 5%;
}
.textbook_container .youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#add-buttons {
  margin: 16px auto;
  display: inline-block;
}

#add-buttons li {
  display: block;
  float: left;
  margin: 2px;
}

.wrapper {
  display: block;
  margin: 16px auto;
  /*max-width: 500px;*/
  border: 1px solid transparent;
  background-color: white;
}

.wrapper:hover {
  border-color: #aaa;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  text-align: left;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-danger h4 {
color: #B94A48;
}

.bs-callout-warning h4 {
color: #C09853;
}

.bs-callout-info h4 {
color: #3A87AD;
}

#add-wrapper {
  position: absolute;
  width: 80%;
  left: 10%;
  min-height: 150px;
  display: none;
}

body.edit-mode #add-wrapper {
  display: inline-block;
}

form {
  margin: 8px;
}

#clipper-wrapper {
  position: absolute;
  min-height: 800px;
  width: 90%;
  margin-top: 25px;
  margin-left: 5%;
  overflow: hidden;
}

#clipper-topbar {
  width: 100%;
}

#clipper-topbar input {
  box-sizing: border-box;
  padding: 5px;
  height: 42px;
  font-size: 24px;
  line-height: 32px;
}

#clipper-topbar input[type=text] {
  width: 80%;
}

#clipper-topbar input[type=submit] {
  width: 19%;
}

#clipper-main {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
}

#clipper-recently-used {
  min-height: 500px;
}

#add-pdf:not(.empty) #clipper-recently-used {
  display: none;
}

#add-pdf form button {
  width: 100%;
}

#clipper-viewer {
  display: none;
  height: 100%;
}

#clipper-control {
  margin-top: 50px;
  display: none;
}

#clipper-canvas {
  height: 90%;
  margin: 20px auto 5%;
  background-color: white;
  border: 1px solid black;
}

#clipper-overlay {
  border: 1px solid blue;
  background: rgba(0,0,255,0.2);
  position: absolute;
  top: -2px;
  left: -2px;
}

#add-pdf:not(.empty) #clipper-viewer, #add-pdf:not(.empty) #clipper-control {
  display: block;
}

#clipper-loading {
  display: none;
  min-height: 500px;
}

span.deleteButton {
    width: 16px;
    height: 16px;
    background: url(../img/delete_icon.gif) no-repeat;
    display: block;
    float: right;
    margin: 3px;
    display: none;
    cursor: pointer;
}

body.edit-mode span.deleteButton {
    display: block;
}

.youtube .deleteButton {
	margin: -20px -24px 0 0;
}

.wikipedia .deleteButton,.text .deleteButton {
	margin: -28px -28px 0 0;
}

.comment .deleteButton {
	margin: -10px -10px 0 0;
}
