body {
    text-align: center;
    background-color: #eaeaea;
}

.textbook_container {
    border: 1px solid #d4d4d4; 
    background-color: #fff;
    margin: 2em;
    font-family: georgia, serif;
}
.textbook_container header {
    margin: 4em 0 4em 0;
}
.textbook_container canvas {
    max-width: 90%;
    background-color: #ffffff;
}