body {
  background-color: #ccc;
}

#page {
  background-color: #fff;
  width: 800px;
  margin: 0 auto;
  padding: 1em;
}

#addButton {
  width:300px;
  height:100px;
  background-color: #f00;
  line-height: 100px;
  text-align: center;
  font-size: 2em;
}