body {
  text-align: center;
  background-color: #94ADFF;
}

.textbook_container {
  border: 1px solid #d4d4d4; 
  background-color: #fff;
  margin: 2em;
  font-family: georgia, serif;
}
.textbook_container span.author{
  margin-bottom: 2em;
}
.textbook_container canvas {
	width: 90%;
	background-color: #ffffff;
}