body {
	text-align: center;
	background-color: #94ADFF;
}
.pdfSource {
    border: 1px solid #d4d4d4; 
    background-color: #fff;
    margin: 2em;
}
.pdfSource canvas {
	display: block;
	float: center;
}